/code/MyGameTool/Assembly-CSharp.csproj
/code/MyGameTool/Assembly-CSharp-Editor.csproj
/code/MyGameTool/MyGameTool.sln
/code/MyGameTool/.vs
/code/MyGameTool/Library
/code/MyGameTool/Logs
/code/MyGameTool/obj
/code/MyGameTool/Packages
